@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Ats.Services.Implementation
@inject ClaimsService mbService
@using Lpnet.WebApp.Resources;
@{
   
}
<style>

</style>
<div class="card-header">
       @if(@mbService.getNoti() == true)
    {}
     else
    {
      <label class="mt-2 text-danger">
       <a class="ion ion-md-warning text-warning"></a>  @Resource.Commom_label_ActivationNotices
    </label>
        
    }                           
                         
</div>
