@{
    ViewBag.Title = "unactive";
}


<div class="container text-center">
    <h1 class="icondanger text-danger"><i class="fa fa-times-circle-o" aria-hidden="true"></i></h1>
    <h1 class="text-danger">Unactive</h1>
    <h2 class="text-danger">This account has been unactive, please contact your system administrator.</h2>
</div>
    
