@{
    ViewBag.Title = "Error";
}
<div class="container">
    <h1 class="iconsucess text-center"><i class=" fa-times-circle-o" aria-hidden="true"></i></h1>
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>

