Ats.Build/bin/
Ats.Build/obj/
Ats.Commons/obj/
Ats.Commons/bin/
Ats.Data/bin/
Ats.Data/obj/
Ats.Domain/bin/
Ats.Domain/obj/
Ats.Models/bin/
Ats.Models/obj/
Ats.Security/bin/
Ats.Security/obj/
Ats.Services/obj/
Ats.Services/bin/
Ats.Web/bin/
Ats.Web/obj/
Ats.Api/bin/
Ats.Api/obj/
.vs/
/Ats.Web/Logs
/Ats.Build/*.user
Ats.Web/Ats.Web.csproj.user
/Lpnet.WebApp/obj
/Lpnet.WebApp/bin
/Lpnet.WebApp/*.user
/Lpnet.WebApp/Logs/logs.txt
/Lpnet.WebApp/wwwroot/ExportExcel/c04700de-984a-4df8-8e73-816e64b184a9
/Lpnet.WebApp/wwwroot/ImportExcel/c04700de-984a-4df8-8e73-816e64b184a9
