@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>
    <ul>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
    </ul>
    <ul>
        <li>@Html.ActionLink("Departments", "Departments", "Admin")</li>
    </ul>
</p>
