@{
    Layout = "~/Views/Email/_Layout.cshtml";
}
@section EmailHeader{
}
@section EmailBody{
}
<style>
    .responsive {
        max-width: 100%;
        height: auto;
    }
</style>
<section id="header">
    <div name="name">Habber System</div>
    <div name="from">agn.service.2018@gmail.com</div>
    <div name="to">@Model.ToAddress</div>
    <div name="bcc">agn.service.2018@gmail.com</div>
    <div name="subject">Reset mật khẩu tài khoản AGN</div>
    <div name="ishtml">true</div>
</section>
<section id="body">
    <div style="background-color:lightgrey">
        <div style="width:90%; margin:auto; background-color:#eaeaea">
            <div style="width:80%; margin:auto; background-color:white">
                <img src="https://b76aec11-a-62cb3a1a-s-sites.googlegroups.com/site/aegonamail/home/Untitled-1.png?attachauth=ANoY7cp66oVgO195NAOBW0DgAUkk0CdOzzOHQMwSvYAy_v8Jn8q7gFMG1jAq-n6S4t9HYQ51hwJdHDBTg4haVGTMitUkGJnW9SiKiEzMjKddhJPTOCUs-HI2kUVjGg1-lpQY6Rf-dSyqt2QsCzvAdPBx2ZCLkhgU43ZPgML9eVt17qJrf1KRFoYa8ywsR4B4aEfBheaYbJ6PvdL_mcBVl4V0UgMWBno4LA%3D%3D&attredirects=0" class="responsive" width="100%" />
                <!--Body-->
                <div style="font-size: 14px; padding:20px; color:grey">
                    <i>Chào, <b> @Model.UserName</b>!</i><br /><br />               

                    <a href="@Model.UrlResetPassword">Nhấn vào đây để đặt lại mật khẩu tài khoản của bạn<a>

                </div>
                <!--Body-->
            </div>
        </div>
    </div>
</section>